:root {
    --white: #ffffff;
    --black: #000000;
    --neutral-30: #76777A;
    --neutral-60: #DBDCDF;
    --neutral-80: #EEF0F5;
    --primary-40: #3B5AAE;
    --primary-60: #254699;
    --red: #FF3B30;

    --media-tab-sm: 768px;
    --media-des-sm: 1280px;
}